@media screen and (min-width: 768px){
      
    nav{
        height: 80px;
        padding: 0 4%;
    }
    .nav-menu{
        display: flex;
        flex-direction: row;
        background-color: #FFF;
        position: static;
        width: auto;
    }

    #button:checked ~ .nav-menu {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
    }

    #button:checked ~ .triggerClose{
        display: none;
    }
    
    .nav-menu{
        overflow: hidden;
    }
    
    .nav-menu li a{
        color: #060A24;
    }

    nav label{
        display: none;
    }

    nav img {
        height: 36px;
        width: 36px;
  
    }

    header{
        margin-top: 120px;
        margin-left: 10%;
    }

    header p{
        max-width: 559px;
        font-size: 16px;
    }

    .btn{
        max-width: 226px;
        min-height: 56px;
        font-size: 18px;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        line-height: 24px;
        padding: 16px 59px;
    }

    .episodios h2{
        max-width: 209px;
        min-height: 62px;
        font-size: 48px;
        padding: 16px;
        margin-left: 10%;
    }
    .contentFrames iframe {
        margin: 5.5px 5.5px;
        width: 45%;
    }

    .texto{
        display: flex;
        flex-direction: row;
    }
    .content-img{
        display: flex;
        width: 50%;
    }
    
    .phone{
        padding-top: 48px;
        width: 457.6px;
        height: 660px;
        position: relative;
        top: -200px;
        margin-left: 30%;
    }
    
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 27px;
        position: relative;
        top: -200px;
        width: 50%;
    }
    
    .content h2{
        font-size: 48px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
        max-width: 399px;
        max-height: 62px;
        white-space: nowrap;
        padding-bottom: 24px;
    }

    .content p{
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 24px;
        max-width: 464px;
        max-height: 204px;
    }

    .invitados h2{
        font-size: 48px;
        color: #060A24;
        letter-spacing: 0;
        padding-left: 14%;
        padding-bottom: 36px;
        
    }

    .content-images{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .content-images img{
        width: 33.3%;
        height: 364px;
    }

    .temas h2{
        font-size: 48px;
        color: #060A24;
        letter-spacing: 0;
        padding-left: 14%;
        padding-top: 56px;
    }

    .content-temas{
        display: flex;
        justify-content: space-between;
        margin-top: 56px;
        margin-left: 14%;
        margin-right: 14%;
    }

    .iconos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .iconos p{
        font-size: 24px;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        max-width: 220px;
        max-height: 32px;
        padding-top: 16px;
    }

    .content-novedades{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: blue;
        padding-bottom: 151px;
    }

    .content-novedades p{
        font-size: 48px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        white-space: nowrap;
    }

    .btnNovedades{
        display: flex;
        justify-content: center;
        background-color: #00F3BB;
        text-decoration: none;
        font-size: 18px;
        max-width: 345px;
        max-height: 56px;
        padding: 13px 43px;
        align-self: center;
    }

    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .copyright-container, .socialmedia-container{
        display: inline-flex;
        margin: 3% 4%;
    }
    
    .copyright-container p{
        font-size: 16px;
        white-space: nowrap;
        
    }

    .socialmedia-container{
        padding-right: 5%;
    }
 






}